html
    head
        title Selamat Datang
    body
        a(href="http://localhost:3000/biodata/create") Tambah
        table
            tr
                td no
                td nama
                td email
                td tanggal lahir
                td no telp
                td alamat
                td aksi
            for row, index in data
                tr
                    td #{index + 1}
                    td #{row.nama}
                    td #{row.email}
                    td #{row.tanggal_lahir}
                    td #{row.No_telp}
                    td #{row.alamat}
                    td
                        form(action=`/biodata/${row.id}?_method=DELETE`, method="post")
                            input(type="submit", value="Hapus")
                            a(href=`/biodata/${row.id}/edit`) Ubah
